# Pandas Data Processing Commands (SQL Equivalents)

This notebook lists pandas commands that correspond to common SQL operations.

## 1. Import Pandas

In [ ]:
import pandas as pd

## 2. Read Data from CSV

In [ ]:
df = pd.read_csv("input.csv")

## 3. Inspect Data

In [ ]:
df.head()

df.info()

## 4. Select Columns (SELECT)

In [ ]:
df[["col1", "col2"]]

## 5. Filter Rows (WHERE)

In [ ]:
df[df["col"] > 0]

## 6. Create Columns or Expressions

In [ ]:
df["new_col"] = df["col1"] + df["col2"]

## 7. Rename Columns (AS)

In [ ]:
df = df.rename(columns={"old_name": "new_name"})

## 8. Sort Values (ORDER BY)

In [ ]:
df.sort_values("col")

## 9. Distinct Values (DISTINCT)

In [ ]:
df["col"].drop_duplicates()

df.drop_duplicates()

## 10. Group and Aggregate (GROUP BY)

In [ ]:
df.groupby("key").agg({"value": "sum"})

## 11. Filter Aggregated Data (HAVING)

In [ ]:
grouped = df.groupby("key")["value"].sum()
filtered = grouped[grouped > 100]

## 12. Join DataFrames (JOIN)

In [ ]:
df1.merge(df2, on="key", how="inner")

## 13. Union DataFrames (UNION)

In [ ]:
pd.concat([df1, df2], ignore_index=True)

## 14. Limit Rows (LIMIT)

In [ ]:
df.head(10)

## 15. Handle Missing Values

In [ ]:
df.fillna(0)

df.dropna()

## 16. Save to CSV

In [ ]:
df.to_csv("output.csv", index=False)