# SparkSQL Commands

This notebook summarizes common SparkSQL commands often used in interviews.

## 1. Create database and use it

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS example_db")

spark.sql("USE example_db")

## 2. Create table

In [ ]:
spark.sql("CREATE TABLE IF NOT EXISTS example(id INT, name STRING) USING DELTA")

## 3. Insert data

In [ ]:
spark.sql("INSERT INTO example VALUES (1, 'Alice'), (2, 'Bob')")

## 4. Query data

In [ ]:
spark.sql("SELECT * FROM example WHERE id = 1")

## 5. Aggregations

In [ ]:
spark.sql("SELECT name, COUNT(*) AS total FROM example GROUP BY name")

## 6. Table joins

In [ ]:
spark.sql("SELECT a.id, b.value FROM table_a a JOIN table_b b ON a.id = b.id")

## 7. Window functions

In [ ]:
spark.sql("SELECT id, value, ROW_NUMBER() OVER (PARTITION BY id ORDER BY value DESC) AS rn FROM example")

## 8. Subqueries and CTE

In [ ]:
spark.sql("WITH cte AS (SELECT id FROM example WHERE value > 0) SELECT * FROM cte")

## 9. Create view

In [ ]:
spark.sql("CREATE OR REPLACE VIEW vista_example AS SELECT * FROM example")

## 10. Create temporary view

In [ ]:
spark.sql("CREATE OR REPLACE TEMP VIEW temp_view AS SELECT * FROM example")

## 11. Show and describe tables

In [ ]:
spark.sql("SHOW TABLES")

spark.sql("DESCRIBE TABLE example")

## 12. Add column

In [ ]:
spark.sql("ALTER TABLE example ADD COLUMNS (age INT)")

## 13. Drop column

In [ ]:
spark.sql("ALTER TABLE example DROP COLUMN age")

## 14. Update and delete records

In [ ]:
spark.sql("UPDATE example SET name = 'Updated' WHERE id = 1")

spark.sql("DELETE FROM example WHERE id = 2")

## 15. Sort and limit

In [ ]:
spark.sql("SELECT * FROM example ORDER BY id DESC LIMIT 10")

## 16. Union and Union All

In [ ]:
spark.sql("SELECT * FROM table_a UNION ALL SELECT * FROM table_b")

## 17. Partitioned tables

In [ ]:
spark.sql("CREATE TABLE part_tbl(id INT, category STRING) USING DELTA PARTITIONED BY (category)")

## 18. Cache and Unpersist

In [ ]:
spark.sql("CACHE TABLE example")

spark.sql("UNCACHE TABLE example")